html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* START CSS */

header {
  height: auto;
  width: 100%;
  background-color: #f3f7ff;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", serif;
}

body {
  font-family: "Montserrat", serif;
  background-color: #f3f7ff;
}

nav {
  font-family: "Inter", sans-serif;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-menu ul {
  display: flex;
  justify-content: space-between;
  width: 600px;
  font-size: 24px;
  position: relative;
  font-weight: 600;
}

.nav-menu ul li {
  position: relative;
}

.nav-menu ul li a {
  text-decoration: none;
  color: black;
  transition: color 0.3s ease; /*tambahan*/
  position: relative;
}

.nav-menu ul li a:hover {
  color: #007bff;
}

.nav-menu ul li a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #fabc3f;
  transition: width 0.3s ease;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.nav-menu ul li a:hover::after {
  width: 100%;
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 32px;
  font-weight: 600;
}

.logo-container h1 {
  margin-left: 15px;
}

header nav img {
  height: 60px;
  width: 60px;
}

.sign-container {
  display: flex;
  align-items: center;
  justify-content: right;
  /*width: 90px;*/
}

.sign-container a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #3f51b5;
  font-weight: 600;
}

.sign-container a:hover {
  color: #007bff;
}

.sign-container img {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  transition: transform 0.3s;
}

.sign-container .hover-img {
  display: none;
}

.sign-container a:hover .default-img {
  display: none;
}

.sign-container a:hover .hover-img {
  display: inline-block;
  transform: scale(1.1); /* Membesarkan gambar saat di-hover */
}

.sign-container span {
  font-size: 16px;
}

.sign-container h1 {
  font-size: 20px;
  color: #3f51b5;
  font-weight: bold;
  padding-right: 40px;
}

.close-btn {
  margin-top: 3px;
  background-color: #2b4365;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 20px;
  float: right;
}

.close-btn:hover {
  background-color: #fabc3f;
  color: black;
  transition: 0.2s;
}

.discuss {
  font-family: "Montserrat", serif;
  line-height: 1.5;
}

.author {
  border: 3px solid #2b4365;
  background-color: #fabc3f;
  border-radius: 10px;
  padding: 0 2%;
  font-family: "Montserrat", serif;
  font-weight: 500;
}

.popup-category {
  text-align: left;
  font-size: 14px;
  font-family: "Montserrat", serif;
  font-weight: 500;
  /* background-color: #fabc3f; */
  color: black;
  border-radius: 5px;
  width: fit-content;
}
@media only screen and (max-width: 576px) {
  .popup-category {
    font-size: 6px;
  }
}

.popup-timestamp {
  font-size: 14px;
  margin-right: 10px;
  font-family: "Montserrat", serif;
  font-weight: 500;
  /* background-color: #2b4365; */
}

.content {
  text-align: justify;
}

.comment {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.comment-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment-form textarea {
  height: 100px;
  width: 95%;
  font-family: "Montserrat", serif;
  font-size: 1rem;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 2px solid #2b4365;
}

.comment-form button {
  font-family: "Montserrat", serif;
  font-size: 1rem;
  padding: 5px;
  background-color: #2b4365;
  color: white;
  border: none;
  border-radius: 25px;
  width: 30%;
  cursor: pointer;
}

.isi-comment {
  display: flex;
  flex-direction: column;
  border: 2px solid #2b4365;
  margin-top: 10px;
  border-radius: 10px;
}

.author-comment {
  font-family: "Montserrat", serif;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  height: 30px;
  align-items: center;
  justify-content: space-between;
}

.user-comment {
  background-color: #fabc3f;
  height: 100%;
  display: flex;
  align-items: center;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  width: fit-content;
  padding-right: 10px;
  padding-left: 10px;
}

.comment-timestamp {
  background-color: #2b4365;
  color: white;
  height: 100%;
  display: flex;
  align-items: center;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  width: fit-content;
  padding-right: 10px;
  padding-left: 10px;
}

.comment-content {
  height: auto;
  padding: 10px;
  font-family: "Montserrat", serif;
  text-align: justify;
  line-height: 1.5;
}

@media only screen and (max-width: 576px) {
  header {
    height: 100%;
  }
  nav {
    padding: 20px 20px;
  }

  .logo-container h1 {
    display: none;
  }

  .nav-menu ul {
    flex-direction: row;
    display: flex;
    column-gap: 30px;
    width: 100%;
  }

  .nav-menu ul li a {
    font-size: 16px;
  }

  .sign-container h1 {
    font-size: 16px;
  }

  .logo-container img {
    width: 50px;
  }

  .footer-kiri {
    display: none;
  }

  .footer-kiri iframe {
    width: 10%;
    height: 10%;
  }

  .footer-kanan {
    padding: 100px 70px;
    justify-content: center;
  }

  .footer-kanan h1 {
    font-size: 40px;
  }
  .footer-kanan p {
    font-size: 20px;
  }
  .location {
    padding-bottom: 10px;
    width: 100%;
  }
  .location a {
    font-size: 18px;
  }

  .sosmed {
    padding-top: 0px;
  }

  .sosmed ul li a span {
    font-size: 18px;
  }
}

/* Tablet Screen */
@media only screen and (min-width: 577px) and (max-width: 768px) {
  header {
    height: 100%;
  }
  nav {
    padding: 20px 20px;
  }

  .logo-container h1 {
    display: none;
  }

  .nav-menu ul {
    flex-direction: row;
    display: flex;
    column-gap: 50px;
    width: 100%;
  }

  .nav-menu ul li a {
    font-size: 18px;
  }

  footer {
    column-gap: 0px;
  }

  .footer-kiri {
    /* width: 50%; */
    display: none;
  }

  .footer-kanan {
    padding: 80px 40px;
    justify-content: center;
  }

  .footer-kanan h1 {
    font-size: 40px;
  }
  .footer-kanan p {
    font-size: 20px;
  }

  .location {
    padding-bottom: 10px;
    width: 100%;
  }

  .location a {
    font-size: 18px;
  }

  .sosmed {
    padding-top: 0px;
  }

  .sosmed ul li a span {
    font-size: 18px;
  }
}
/* Desktop Screen */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  nav {
    padding: 20px 50px;
  }

  .logo-container {
    font-size: 20px;
  }
  .logo-container h1 {
    display: none;
  }

  .nav-menu ul {
    flex-direction: row;
    display: flex;
    column-gap: 100px;
    width: 100%;
  }

  .nav-menu ul li a {
    font-size: 20px;
  }

  footer {
    column-gap: 10px;
  }

  .footer-kiri {
    width: 60%;
  }

  .footer-kanan {
    padding: 60px 15px;
  }

  .footer-kanan h1 {
    font-size: 40px;
  }
  .footer-kanan p {
    font-size: 20px;
  }

  .location a {
    font-size: 18px;
  }

  .sosmed {
    padding-top: 0px;
  }

  .sosmed ul li a span {
    font-size: 18px;
  }
}
