html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* START CSS */

/* START HEADER CSS */
header {
  height: 750px;
  width: 100%;
  background-color: #f3f7ff;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
}

body {
  font-family: "Montserrat", sans-serif;
}

nav {
  font-family: "Inter", sans-serif;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-menu ul {
  display: flex;
  justify-content: space-between;
  width: 600px;
  font-size: 24px;
  position: relative;
  font-weight: 600;
}

.nav-menu ul li {
  position: relative;
}

.nav-menu ul li a {
  text-decoration: none;
  color: black;
  transition: color 0.3s ease; /*tambahan*/
  position: relative;
}

.nav-menu ul li a:hover {
  color: #007bff;
}

.nav-menu ul li a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #fabc3f;
  transition: width 0.3s ease;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.nav-menu ul li a:hover::after {
  width: 100%;
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 32px;
  font-weight: 600;
}

.logo-container h1 {
  margin-left: 15px;
}

header nav img {
  height: 60px;
  width: 60px;
}

.sign-container {
  display: flex;
  align-items: center;
  justify-content: right;
  /*width: 90px;*/
}

.sign-container a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #3f51b5;
  font-weight: 600;
}

.sign-container a:hover {
  color: #007bff;
}

.sign-container img {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  transition: transform 0.3s;
}

.sign-container .hover-img {
  display: none;
}

.sign-container a:hover .default-img {
  display: none;
}

.sign-container a:hover .hover-img {
  display: inline-block;
  transform: scale(1.1); /* Membesarkan gambar saat di-hover */
}

.sign-container span {
  font-size: 16px;
}

.sign-container h1 {
  font-size: 20px;
  color: #3f51b5;
  font-weight: bold;
  padding-right: 40px;
}

/* .hero {
  padding: 80px 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hero .text h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  line-height: 1.2;
  font-weight: 700;
  color: #666666;
}

.hero .text h2 {
  padding-top: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 700;
  color: #316cf4;
}

.hero-img img {
  height: 400px;
} */

.slide-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.slide-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.slide-text h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  font-weight: 700;
  color: white;
  line-height: 1.2;
}
.slide-text h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 700;
  color: #316cf4;
  background-color: #fabc3f;
}
.slider {
  width: 300%;
  height: 650px;
  display: flex;
  animation: slide 14s infinite;
}

.img-slide {
  width: 33.33%; /* 1/3 of the slider width */
  flex-shrink: 0;
}

.img-slide img {
  width: 100%;
  height: 650px;
  object-fit: cover;
  opacity: 0.8;
}

.img-slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.1) 25%,
    rgba(0, 0, 0, 0.1) 75%,
    rgba(0, 0, 0, 0.5)
  ); /* Overlay gradasi lebih tebal */
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  33.33% {
    transform: translateX(0);
  }
  38.33% {
    transform: translateX(-33.33%);
  }
  71.66% {
    transform: translateX(-33.33%);
  }
  76.66% {
    transform: translateX(-66.66%);
  }
  100% {
    transform: translateX(-66.66%);
  }
}
/* END HEADER CSS */
.preload {
  overflow: hidden;
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: #f3f7ff;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

.loader-wrapper.hidden {
  opacity: 0;
  pointer-events: none; /* Mencegah interaksi dengan elemen yang tersembunyi */
}

.container-animation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.loader-blue {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #316cf4;
  animation: loader 2s infinite ease; /* Durasi animasi 5 detik */
}

.loader-yellow {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #fabc3f;
  animation: loader-reverse 2s infinite ease; /* Durasi animasi 5 detik */
}

.loader-inner-b {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #316cf4;
  animation: loader-inner 2s infinite ease-in; /* Durasi animasi 5 detik */
}
.loader-inner-y {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fabc3f;
  animation: loader-inner 2s infinite ease-in; /* Durasi animasi 5 detik */
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-reverse {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-180deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  75% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}

/* START BODY CSS */
/* Tambahkan ini di file CSS Anda */
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  background-color: #f3f7ff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-radius: 8px;
  overflow: hidden;
}

.popup.active {
  display: block;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f3f7ff;
  border-bottom: 1px solid #f3f7ff;
}

.popup-close {
  cursor: pointer;
  font-size: 20px;
}

.popup-content {
  padding: 20px;
}

.logout-button {
  display: block;
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  background-color: #f44336;
  color: #f3f7ff;
  text-decoration: none;
  border-radius: 5px;
}

.about {
  padding: 20px 60px;
  background-color: #316cf4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  /* width: 100%; */
  height: 100%;
}

figure img {
  height: 450px;
  border-radius: 2%;
}

.about aside {
  width: 1000vh;
}

aside {
  color: #f3f7ff !important;
  margin-bottom: 150px;
}

aside h1 {
  font-size: 80px;
  font-weight: 700;
  position: relative;
  z-index: 1;
}

aside img {
  height: 110px;
  position: relative;
  left: 10px;
  top: 70px;
  z-index: 0;
}

aside p {
  padding-top: 20px;
  font-size: 24px;
  text-align: justify;
  line-height: 1.5;
  width: 80%;
  font-weight: 400;
}

@media only screen and (max-width: 768px) {
  .about {
    flex-direction: column;
    align-items: flex-start;
  }

  aside p {
    width: 100%;
    padding-top: 10px;
  }
}

.services {
  padding: 40px 120px;
  background-color: #fabc3f;
  /* height: 750px; */
  height: 100%;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.services-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  /* background-color: lightgoldenrodyellow; */
}

.services-text h1 {
  font-size: 80px;
  color: black;
  font-weight: 700;
  line-height: 1.2;
}

.article-service {
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  color: #f3f7ff;
}
.article-service h1:nth-child(1) {
  position: relative;
  top: 250px;
}

.article-service h1 {
  font-size: 128px;
  font-weight: 600;
  color: #f3f7ff;
}

.article-container {
  display: flex;
  flex-direction: row;
  column-gap: 80px;
}

.services-1 {
  background-color: #316cf4;
  padding: 50px;
  border-radius: 10px;
}

.services-1 h2 {
  font-size: 56px;
  font-weight: 600;
}

.services-1 p {
  padding-top: 15px;
  font-size: 24px;
  font-weight: 400;
  text-align: justify;
  line-height: 1.5;
}

.services-2 {
  background-color: #134b70;
  padding: 50px;
  border-radius: 10px;
}

.services-2 h2 {
  font-size: 45px;
  font-weight: 600;
}
.services-2 p {
  padding-top: 15px;
  font-size: 24px;
  font-weight: 400;
  text-align: justify;
  line-height: 1.5;
}

.vision-mission {
  background-color: #f3f7ff;
  padding: 100px 50px;
  height: 100%;
}

.vm-title {
  display: flex;
  justify-content: right;
  font-size: 80px;
  text-align: right;
  align-items: right;
  font-weight: 700;
}

.vision {
  display: flex;
  padding-top: 40px;
  font-family: "Montserrat", sans-serif;
}

.vision img:nth-child(1) {
  height: 50px;
  position: relative;
  top: -20px;
  left: 100px;
  z-index: 1;
}

.vision-text {
  padding: 100px;
  background-color: #fabc3f;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.vision-text p {
  font-size: 30px;
  font-style: italic;
  text-align: center;
  line-height: 1.5;
  padding: 0 100px;
  font-weight: 500;
}

.vision img:nth-child(3) {
  height: 50px;
  position: relative;
  top: 440px;
  right: 100px;
  z-index: 1;
}

.cards-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 100px;
}

.card {
  height: 350px;
  width: 350px;
  border: 2px solid #f4c24b;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
  background-color: #f3f7ff;
  position: relative;
  margin-top: 30px;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #173a56;
  color: #f3f7ff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
}

.content {
  margin-top: 40px;
}

.content p {
  text-align: justify;
  font-size: 20px;
  line-height: 1.5;
  color: #333;
}
/* END BODY CSS */
@-webkit-keyframes come-in {
  0% {
    -webkit-transform: translatey(100px);
    transform: translatey(100px);
    opacity: 0;
  }
  30% {
    -webkit-transform: translateX(-50px) scale(0.4);
    transform: translateX(-50px) scale(0.4);
  }
  70% {
    -webkit-transform: translateX(0px) scale(1.2);
    transform: translateX(0px) scale(1.2);
  }
  100% {
    -webkit-transform: translatey(0px) scale(1);
    transform: translatey(0px) scale(1);
    opacity: 1;
  }
}
@keyframes come-in {
  0% {
    -webkit-transform: translatey(100px);
    transform: translatey(100px);
    opacity: 0;
  }
  30% {
    -webkit-transform: translateX(-50px) scale(0.4);
    transform: translateX(-50px) scale(0.4);
  }
  70% {
    -webkit-transform: translateX(0px) scale(1.2);
    transform: translateX(0px) scale(1.2);
  }
  100% {
    -webkit-transform: translatey(0px) scale(1);
    transform: translatey(0px) scale(1);
    opacity: 1;
  }
}

.floating-container {
  position: fixed;
  width: 100px;
  height: 100px;
  bottom: 0;
  right: 0;
  margin: 35px 25px;
}
.floating-container:hover {
  height: 200px;
}
.floating-container:hover .floating-button {
  box-shadow: 0 10px 25px rgba(44, 179, 240, 0.6);
  -webkit-transform: translatey(5px);
  transform: translatey(5px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.floating-container:hover .element-container .float-element:nth-child(1) {
  -webkit-animation: come-in 0.4s forwards 0.2s;
  animation: come-in 0.4s forwards 0.2s;
}
.floating-container:hover .element-container .float-element:nth-child(2) {
  -webkit-animation: come-in 0.4s forwards 0.4s;
  animation: come-in 0.4s forwards 0.4s;
}
.floating-container .floating-button {
  position: absolute;
  width: 65px;
  height: 65px;
  background: #173a56;
  bottom: 0;
  border-radius: 50%;
  left: 0;
  right: 0;
  margin: auto;
  color: #f3f7ff;
  line-height: 65px;
  text-align: center;
  font-size: 23px;
  z-index: 100;
  box-shadow: 0 10px 25px -5px rgba(44, 179, 240, 0.6);
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.floating-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.floating-container .float-element {
  position: relative;
  display: block;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 15px auto;
  color: #f3f7ff;
  font-weight: 500;
  text-align: center;
  line-height: 50px;
  z-index: 0;
  opacity: 0;
  -webkit-transform: translateY(100px);
  transform: translateY(100px);
}
.floating-container .float-element .material-icons {
  vertical-align: middle;
  font-size: 16px;
}
.floating-container .float-element {
  background: #173a56;
  box-shadow: 0 20px 20px -10px rgba(66, 165, 245, 0.5);
}

/* START FOOTER CSS */

footer {
  display: flex;
  flex-direction: row;
  column-gap: 50px;
  background-color: #316cf4;
  color: #f3f7ff;
  height: 400px;
}

.footer-kiri {
  display: flex;
  align-items: center;
  flex: 1;
  /* width: 200px; */
}

.footer-kiri iframe {
  width: 60vw;
  height: 340px;
  border: 0;
}

.footer-kanan {
  display: flex;
  width: 100%;
  flex-direction: column;
  /* row-gap: 10px; */
  padding: 60px 0px;
}
.footer-kanan h1 {
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 10px;
}

.footer-kanan p {
  font-size: 30px;
}

.location {
  width: 80%;
}

.location a {
  font-size: 20px;
  text-decoration: none;
  color: #f3f7ff;
}

.sosmed {
  padding-top: 40px;
  display: flex;
  align-items: center;
}
.sosmed ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sosmed ul li {
  display: flex;
  align-items: center;
}

.sosmed ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #f3f7ff;
  font-size: 20px;
}

.sosmed ul li img {
  height: 30px;
  margin-right: 10px;
}

.copy {
  background-color: black;
  color: #f3f7ff;
  text-align: center;
  padding: 10px;
}
/* END FOOTER CSS */

/* END CSS */

@keyframes fadeinup {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.fadeinup {
  animation: 1.5s fadeinup;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #fabc3f #f3f7ff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 30px;
}

*::-webkit-scrollbar-track {
  background: #f3f7ff;
}

*::-webkit-scrollbar-thumb {
  background-color: #fabc3f;
  border-radius: 100px;
  border: 4px solid #f3f7ff;
}

/* Responsive CSS */
/* Start */

/* Mobile Screen */
@media only screen and (max-width: 576px) {
  header {
    height: 100%;
  }
  nav {
    padding: 20px 20px;
  }

  .logo-container h1 {
    display: none;
  }

  .nav-menu ul {
    flex-direction: row;
    display: flex;
    column-gap: 30px;
    width: 100%;
  }

  .nav-menu ul li a {
    font-size: 16px;
  }

  .logo-container img {
    width: 50px;
  }

  .sign-container h1 {
    font-size: 16px;
  }

  .slide-container {
    height: 40vh;
  }

  .slide-text {
    top: 50%;
  }

  .slide-text h3 {
    font-size: 25px;
  }
  .slide-text h2 {
    font-size: 25px;
  }

  .slide-container {
    width: 100%;
  }

  .slide-container img {
    height: 50%;
  }

  .img-slide::before {
    width: 100%;
    height: 50%;
  }

  .about {
    padding: 5px 50px;
    height: 70vh;
    /* width: 100%;  */
    gap: 0;
  }

  figure img {
    display: none;
  }

  .about aside {
    padding-left: 50px;
    width: 100%;
  }

  aside img {
    position: relative;
    height: 40px;
    left: 190px;
    top: 25px;
  }

  aside h1 {
    font-size: 30px;
  }

  aside p {
    font-size: 16px;
    width: 80%;
  }

  .article-service {
    padding-top: 10px;
  }
  .article-service h1 {
    font-size: 90px;
  }

  .article-service h1:nth-child(1) {
    top: 0px;
    position: relative;
  }

  .article-container {
    row-gap: 20px;
  }

  .services {
    padding: 30px 10px;
  }

  .services-text {
    justify-content: center;
  }
  .services-text h1 {
    font-size: 30px;
  }

  .services-1 {
    padding: 25px;
  }

  .services-1 h2 {
    font-size: 25px;
  }

  .services-1 p {
    padding-top: 0;
    font-size: 18px;
  }

  .services-2 {
    padding: 25px;
  }
  .services-2 h2 {
    font-size: 25px;
  }

  .services-2 p {
    padding-top: 0;
    font-size: 18px;
  }

  .article-container {
    column-gap: 20px;
    flex-wrap: wrap;
  }

  .vision-mission {
    padding: 50px 20px;
    height: 100%;
  }

  .vm-title {
    font-size: 30px;
    justify-content: center;
    align-items: center;
  }

  .vision {
    padding-top: 20px;
  }
  .vision-text {
    padding: 20px;
  }

  .vision img:nth-child(1) {
    height: 40px;
    position: relative;
    top: -20px;
    left: 50px;
  }

  .vision-text {
    width: 70%;
    height: auto;
  }

  .vision-text p {
    font-size: 18px;
    padding: 0 20px;
  }

  .vision img:nth-child(3) {
    height: 40px;
    position: relative;
    right: 50px;
    top: -20px;
  }

  .cards-container {
    margin-top: 60px;
    flex-wrap: wrap;
    row-gap: 15px;
  }

  .content p {
    font-size: 18px;
  }

  .circle {
    width: 70px;
    height: 70px;
    font-size: 24px;
    top: -35px;
  }

  .card {
    width: 100%;
    height: 50%;
  }

  .footer-kiri {
    display: none;
  }

  .footer-kiri iframe {
    width: 10%;
    height: 10%;
  }

  .footer-kanan {
    padding: 100px 70px;
    justify-content: center;
  }

  .footer-kanan h1 {
    font-size: 40px;
  }
  .footer-kanan p {
    font-size: 20px;
  }
  .location {
    padding-bottom: 10px;
    width: 100%;
  }
  .location a {
    font-size: 18px;
  }

  .sosmed {
    padding-top: 0px;
  }

  .sosmed ul li a span {
    font-size: 18px;
  }
}

/* Tablet Screen */
@media only screen and (min-width: 577px) and (max-width: 768px) {
  header {
    height: 100%;
  }
  nav {
    padding: 20px 20px;
  }

  .logo-container h1 {
    display: none;
  }

  .nav-menu ul {
    flex-direction: row;
    display: flex;
    column-gap: 50px;
    width: 100%;
  }

  .nav-menu ul li a {
    font-size: 18px;
  }

  .slide-text {
    top: 50%;
  }
  .slide-text h3 {
    font-size: 30px;
  }
  .slide-text h2 {
    font-size: 30px;
  }

  .slide-container {
    /* width: 100%; */
    height: 70vh;
  }

  .slide-container img {
    height: 80%;
  }

  .img-slide::before {
    width: 100%;
    height: 80%;
  }

  .about {
    padding: 1px 50px;
    height: 70vh;
    /* width: 100%; */
    gap: 0;
  }

  figure img {
    display: none;
  }

  .about aside {
    width: 100%;
  }

  aside img {
    position: relative;
    height: 60px;
    left: 250px;
    top: 35px;
  }

  aside h1 {
    font-size: 40px;
  }

  aside p {
    font-size: 20px;
    width: 100%;
  }

  .article-service {
    padding-top: 10px;
  }
  .article-service h1 {
    font-size: 90px;
  }

  .article-service h1:nth-child(1) {
    top: 0px;
    position: relative;
  }

  .services {
    padding: 30px 10px;
  }

  .services-text {
    justify-content: center;
  }
  .services-text h1 {
    font-size: 40px;
  }

  .services-1 {
    padding: 25px;
  }

  .services-1 h2 {
    font-size: 30px;
  }

  .services-1 p {
    padding-top: 0;
    font-size: 20px;
  }

  .services-2 {
    padding: 25px;
  }
  .services-2 h2 {
    font-size: 30px;
  }

  .services-2 p {
    padding-top: 0;
    font-size: 20px;
  }

  .article-container {
    column-gap: 20px;
    row-gap: 20px;
  }

  .vision-mission {
    padding: 50px 20px;
    height: 100%;
  }

  .vm-title {
    font-size: 40px;
    justify-content: right;
    align-items: right;
  }

  .vision {
    padding-top: 40px;
  }
  .vision-text {
    padding: 20px;
  }

  .vision img:nth-child(1) {
    height: 50px;
    position: relative;
    top: -20px;
    left: 50px;
  }

  .vision-text {
    width: 100%;
    height: auto;
  }

  .vision-text p {
    font-size: 20px;
    padding: 0 20px;
  }

  .vision img:nth-child(3) {
    height: 50px;
    position: relative;
    right: 50px;
    top: -20px;
  }

  .cards-container {
    margin-top: 60px;
    flex-wrap: wrap;
    row-gap: 10px;
  }

  .card {
    height: 100%;
    width: 80%;
  }

  .content p {
    font-size: 20px;
  }

  .circle {
    width: 70px;
    height: 70px;
    font-size: 30px;
    top: -35px;
  }

  footer {
    column-gap: 0px;
  }

  .footer-kiri {
    /* width: 50%; */
    display: none;
  }

  .footer-kanan {
    padding: 80px 40px;
    justify-content: center;
  }

  .footer-kanan h1 {
    font-size: 40px;
  }
  .footer-kanan p {
    font-size: 20px;
  }

  .location {
    padding-bottom: 10px;
    width: 100%;
  }

  .location a {
    font-size: 18px;
  }

  .sosmed {
    padding-top: 0px;
  }

  .sosmed ul li a span {
    font-size: 18px;
  }
}
/* Desktop Screen */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  nav {
    padding: 20px 50px;
  }

  .logo-container {
    font-size: 20px;
  }
  .logo-container h1 {
    display: none;
  }

  .nav-menu ul {
    flex-direction: row;
    display: flex;
    column-gap: 100px;
    width: 100%;
  }

  .nav-menu ul li a {
    font-size: 20px;
  }

  .slide-text h3 {
    font-size: 50px;
  }
  .slide-text h2 {
    font-size: 50px;
  }

  .about {
    padding: 20px 30px;
    /* width: 100%; */
    gap: 30px;
    height: 100%;
  }

  aside img {
    position: relative;
    height: 80px;
    left: 10px;
    top: 45px;
  }

  aside h1 {
    font-size: 50px;
  }

  aside p {
    font-size: 20px;
    width: 90%;
  }

  figure {
    width: 80%;
  }

  figure img {
    display: none;
  }

  .services {
    padding: 40px 50px;
  }

  .services-text h1 {
    font-size: 50px;
  }

  .article-service h1 {
    font-size: 100px;
  }

  .article-service h1:nth-child(1) {
    top: 0px;
  }

  .article-container {
    column-gap: 60px;
    flex-wrap: wrap;
    row-gap: 20px;
  }

  .services-1 h2 {
    font-size: 40px;
  }
  .services-1 p {
    font-size: 30px;
  }
  .services-2 h2 {
    font-size: 40px;
  }
  .services-2 p {
    font-size: 30px;
  }

  .vm-title {
    font-size: 50px;
  }

  .vision-text {
    padding: 10px 30px;
  }

  .vision-text p {
    font-size: 25px;
    padding: 0 40px;
  }

  .vision img:nth-child(3) {
    top: -20px;
  }

  .content p {
    font-size: 20px;
  }

  .cards-container {
    align-items: normal;
  }

  .card {
    height: auto;
  }

  footer {
    column-gap: 10px;
  }

  .footer-kiri {
    width: 60%;
  }

  .footer-kanan {
    padding: 60px 15px;
  }

  .footer-kanan h1 {
    font-size: 40px;
  }
  .footer-kanan p {
    font-size: 20px;
  }

  .location a {
    font-size: 18px;
  }

  .sosmed {
    padding-top: 0px;
  }

  .sosmed ul li a span {
    font-size: 18px;
  }
}

/* End */
