{%load static%}
<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{judul}}</title>
    <link
      rel="icon"
      href="{% static 'nw-logo.png' %}"
      type="image/gif"
      sizes="16x16" />
    <link rel="stylesheet" href="{%static "artikel.css"%}">
  </head>
  <body>
    <header>
      <nav>
        <div class="logo-container">
          <img src="{% static 'nw-logo.png' %}" alt="" />
          <h1>Klinik Akuntansi Pajak</h1>
        </div>
        <div class="nav-menu">
          <ul>
            <li><a href="/">Beranda</a></li>
            <li><a href="/diskusi">Diskusi</a></li>
            <li><a href="/artikel">Artikel</a></li>
          </ul>
        </div>
        <div class="sign-container">
          {% if user.is_authenticated %}
          <h1 id="username">{{ user.username }}</h1>
          {% else %}
          <a href="{% url 'account:login' %}">
            <img src="{%static "user-blue.png"%}" alt="" class="default-img">
            <img src="{%static "user-yellow.png"%}" alt="" class="hover-img">
            <span>Sign In</span>
          </a>
          {% endif %}
        </div>
      </nav>
      <div id="popup" class="popup">
        <div class="popup-header">
          <h2>Dashboard</h2>
          <span id="closePopup" class="popup-close">&times;</span>
        </div>
        <div class="popup-content">
          <p>Username: {{ user.username }}</p>
          <p>Email: {{ user.email }}</p>
          <form
            method="post"
            id="logout-form"
            action="{% url 'account:logout' %}">
            {% csrf_token %}
            <a
              href="javascript:{}"
              onclick="document.getElementById('logout-form').submit();"
              class="logout-button"
              >Logout</a
            >
          </form>
        </div>
      </div>
      <script>
        document.addEventListener("DOMContentLoaded", function () {
          const usernameElement = document.getElementById("username");
          const popup = document.getElementById("popup");
          const closePopup = document.getElementById("closePopup");

          if (usernameElement) {
            usernameElement.onclick = function () {
              popup.classList.add("active");
            };
          }

          if (closePopup) {
            closePopup.onclick = function () {
              popup.classList.remove("active");
            };
          }

          window.onclick = function (event) {
            if (event.target == popup) {
              popup.classList.remove("active");
            }
          };
        });
      </script>
    </header>

    <section class="container-read">
      <!-- <div class="back-button">
            <button onclick="history.back()">
                <img src="{%static 'back-button.png' %}" alt="Kembali">
                <span>Kembali</span>
            </button>
        </div> -->
      <!--<div class="back-button">
            <a href="javascript:history.back()">
                <img src="{% static 'back-button.png' %}" alt="default-button" class="default-button">
                <img src="{% static 'back-button-a.png' %}" alt="hover-button" class="hover-button">
                <span>Kembali</span>
            </a>
        </div>-->
      <section class="title-container">
        <div class="judul">
          <h1>{{judul}}</h1>
        </div>
        <p>Dampak kenaikan PPN terhadap ekonomi Indonesia.</p>
        <h2 class="tanggal">23 Des 2024</h2>
        <div class="author">
          <img src="{%static "user-navy.png"%}" alt="">
          <h2>Klinik Akuntansi Pajak</h2>
        </div>
      </section>
      <article class="artc-read">
        <img src="{%static "artikel1.png"%}" alt="">
        <p>
          Banyak para peneliti yang mengungkapkan bahwa Pajak Pertambahan Nilai
          tidak terlalu berpengaruh terhadap inflasi yang terjadi. Kenaikan
          tarif Pajak Pertambahan Nilai tahun 2022 secara bersamaan diiringi
          dengan perubahan dan penambahan pajak progresif pada pajak penghasilan
          (Liyana, 2021). Dampak kenaikan tarif PPN secara makro ekonomi diukur
          mulai dari aspek konsumsi, pertumbuhan ekonomi, dan inflasi. Beberapa
          teori menyebutkan dampak kenaikan PPN dalam jangka pendek adalah
          menaikkan konsumsi masyarakat. Namun di beberapa negara, kenaikan
          tarif PPN dalam jangka pendek tidak jarang memicu inflasi jangka
          panjang. oleh karena itu, pemerintah perlu mengadakan redistribusi
          sebagai kebijakan penyeimbang yang menekan angka inflasi atas kenaikan
          PPN.
        </p>
        <p>
          Kenaikan PPN merupakan bagian dalam Undang-Undang Nomor 07 tahun 2021
          tentang Harmonisasi Peraturan Perpajakan (UU HPP). Menteri Keuangan
          Sri Mulyani menegaskan tujuan kenaikan PPN dilakukan tidak lain demi
          memperkuat ekonomi Indonesia dalam jangka panjang dan membantu
          membiayai APBN, khususnya dalam program Pemulihan Ekonomi Nasional
          (PEN).
        </p>
        <p>
          Kenaikan tarif PPN menjadi 12% adalah langkah strategis yang diambil
          pemerintah untuk meningkatkan penerimaan negara dan memperbaiki
          kondisi fiskal Indonesia. Meskipun perubahan ini memiliki dampak pada
          harga barang dan jasa, serta daya beli masyarakat, kenaikan PPN
          diharapkan dapat memberikan manfaat jangka panjang dalam mendukung
          pembangunan nasional. Respons yang tepat dari masyarakat dan dunia
          usaha sangat penting agar perubahan ini dapat dijalankan dengan sukses
          dan berdampak positif bagi perekonomian Indonesia secara keseluruhan.
        </p>
      </article>
    </section>
    <footer>
      <div class="footer-kiri">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d687.8917230929515!2d110.8356958882643!3d-7.562879766665172!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e7a17bfca3568f1%3A0x52872ee12cf2fa57!2sKampus%20UNS%20Mesen!5e1!3m2!1sen!2sid!4v1727590442006!5m2!1sen!2sid"
          width="350"
          height="350"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="footer-kanan">
        <h1>Lokasi Kami</h1>
        <p>Surakarta</p>
        <p>
          Jl. Jend. Urip Sumoharjo, Purwodiningratan, Jebres, Kota Surakarta
        </p>
        <div class="sosmed">
          <ul>
            <li>
              <a
                href="https://www.instagram.com/klinikakuntansipajak?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==">
                <img src="{% static 'instagram.png' %}" alt="" />
                <span>@klinikakuntansipajak</span>
              </a>
            </li>
            <li>
              <a href="https://wa.me/6282211145400">
                <img src="{% static 'wa-white.png' %}" alt="" />
                <span>+62 822-1114-5400</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
    <div class="copy">
      <p>Universitas Sebelas Maret</p>
    </div>
  </body>
</html>
