{%load static%}
<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Artikel Berita</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link
      rel="shortcut icon"
      type="img/png"
      href="{% static 'nw-logo.png' %}" />
    <link rel="stylesheet" href="{%static "list_artikel.css"%}">
  </head>

  <body class="preload">
    <header>
      <nav>
        <div class="logo-container">
          <img src="{% static 'nw-logo.png' %}" alt="" />
          <h1>Klinik Akuntansi Pajak</h1>
        </div>
        <div class="nav-menu">
          <ul>
            <li><a href="/">Beranda</a></li>
            <li><a href="/diskusi">Diskusi</a></li>
            <li><a href="/artikel">Artikel</a></li>
          </ul>
        </div>
        <div class="sign-container">
          {% if user.is_authenticated %}
          <h1 id="username">{{ user.username }}</h1>
          {% else %}
          <a href="{% url 'account:login' %}">
            <img src="{%static "user-blue.png"%}" alt="" class="default-img">
            <img src="{%static "user-yellow.png"%}" alt="" class="hover-img">
            <span>Sign In</span>
          </a>
          {% endif %}
        </div>
      </nav>

      <div id="popup" class="popup">
        <div class="popup-header">
          <h2>Dashboard</h2>
          <span id="closePopup" class="popup-close">&times;</span>
        </div>
        <div class="popup-content">
          <p>Username: {{ user.username }}</p>
          <p>Email: {{ user.email }}</p>
          <form
            method="post"
            id="logout-form"
            action="{% url 'account:logout' %}">
            {% csrf_token %}
            <a
              href="javascript:{}"
              onclick="document.getElementById('logout-form').submit();"
              class="logout-button"
              >Logout</a
            >
          </form>
        </div>
      </div>
      <script>
        document.addEventListener("DOMContentLoaded", function () {
          const usernameElement = document.getElementById("username");
          const popup = document.getElementById("popup");
          const closePopup = document.getElementById("closePopup");

          if (usernameElement) {
            usernameElement.onclick = function () {
              popup.classList.add("active");
            };
          }

          if (closePopup) {
            closePopup.onclick = function () {
              popup.classList.remove("active");
            };
          }

          window.onclick = function (event) {
            if (event.target == popup) {
              popup.classList.remove("active");
            }
          };
        });
      </script>

      <section class="fadeinup">
        <section class="wrapper">
          <div class="slider-container">
            <div class="slider">
              <div class="slide">
                <img src="{% static 'artikel1.png' %}" alt="Image 1" />
                <div class="slide-text">
                  <h3>
                    KENAIKAN TARIF PPN DARI 11% MENJADI 12% YANG AKAN BERLAKU
                    PADA JANUARI 2025
                  </h3>
                </div>
              </div>
              <div class="slide">
                <img src="{% static 'artikel2.jpg' %}" alt="Image 2" />
                <div class="slide-text">
                  <h3>PENERAPAN PPH 21 TER</h3>
                </div>
              </div>
              <div class="slide">
                <img src="{% static 'artikel3.jpeg' %}" alt="Image 3" />
                <div class="slide-text">
                  <h3>SPT TAHUNAN</h3>
                </div>
              </div>
            </div>
          </div>
        </section>
      </section>
    </header>

    <section class="article-bar">
      <h1>ARTIKEL</h1>
      <div class="border-bottom">-</div>
    </section>
    <div class="article-content">
      <div class="card1">
        <a href="{% url 'artikel_detail' artikel_id=1 %}">
          <img src="{%static "artikel1.png"%}" alt="">
          <div class="isi-atas">
            <h3>
              KENAIKAN TARIF <br />
              PPN MENJADI 12%
            </h3>
            <p>23 Des 2024</p>
          </div>
          <h4>Dampak kenaikan PPN terhadap ekonomi Indonesia.</h4>
        </a>
      </div>

      <div class="card2">
        <a href="{% url 'artikel_detail' artikel_id=2 %}">
          <img src="{%static "artikel2.jpg"%}" alt="">
          <div class="isi-atas">
            <h3>PENERAPAN PPH <br />21 TER</h3>
            <p>23 Des 2024</p>
          </div>
          <h4>
            Perubahan PPh 21 menggunakan skema TER untuk pemotongan pajak.
          </h4>
        </a>
      </div>

      <div class="card1">
        <a href="{% url 'artikel_detail' artikel_id=3 %}">
          <img src="{%static "artikel3.jpeg"%}" alt="">
          <div class="isi-atas">
            <h3>SPT TAHUNAN</h3>
            <p>23 Des 2024</p>
          </div>
          <h4>
            Pentingnya pelaporan SPT Tahunan dan sanksi jika tidak sesuai.
          </h4>
        </a>
      </div>

      <div class="card2">
        <a href="{% url 'artikel_detail' artikel_id=4 %}">
          <img src="{%static "artikel4.jpg"%}" alt="">
          <div class="isi-atas">
            <h3>PPN WAJIB PUNGUT<br />BENDAHARAWAN NEGARA</h3>
            <p>23 Des 2024</p>
          </div>
          <h4>
            Peran Bendaharawan Pemerintah sebagai Wajib Pungut (Wapu) dalam
            sistem PPN.
          </h4>
        </a>
      </div>

      <div class="card1">
        <a href="{% url 'artikel_detail' artikel_id=5 %}">
          <img src="{%static "artikel5.jpg"%}" alt="">
          <div class="isi-atas">
            <h3>PERBEDAAN PPh 26</h3>
            <p>23 Des 2024</p>
          </div>
          <h4>Perbedaan dan subjek pajak PPh 21 dan PPh 26.</h4>
        </a>
      </div>

      {% comment %}
      <div class="card2">
        <a href="{% url 'artikel_detail' artikel_id=6 %}">
          <img src="{%static "opening1.JPG"%}" alt="">
          <div class="isi-atas">
            <h3>Penandatangan<br />MOUS UNS x DJP</h3>
            <p>23 Des 2024</p>
          </div>
          <h4>
            Kegiatan Rutin Pendampingan Konsultasi Akuntansi dan Perpajakan di
            Tax Center UNS
          </h4>
        </a>
      </div>
      {% endcomment %}
    </div>

    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet" />
    <div class="floating-container">
      <div class="floating-button">
        <i class="material-icons">contact_phone</i>
      </div>

      <div class="element-container">
        <a href="https://wa.me/6282211145400">
          <span class="float-element tooltip-left">
            <i class="material-icons"
              ><img
                src="{% static 'wa-white.png' %}"
                alt=""
                width="25px"
                height="25x" />
            </i>
          </span>
        </a>

        <a href="https://instagram.com/klinikakuntansipajak">
          <span class="float-element">
            <i class="material-icons">
              <img
                src="{% static 'instagram.png' %}"
                alt=""
                width="25px"
                height="25px" />
            </i>
          </span>
        </a>
      </div>
    </div>

    <footer>
      <div class="footer-kiri">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d687.8917230929515!2d110.8356958882643!3d-7.562879766665172!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e7a17bfca3568f1%3A0x52872ee12cf2fa57!2sKampus%20UNS%20Mesen!5e1!3m2!1sen!2sid!4v1727590442006!5m2!1sen!2sid"
          width="350"
          height="350"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="footer-kanan">
        <h1>Lokasi Kami</h1>
        <p>Surakarta</p>
        <p>
          Jl. Jend. Urip Sumoharjo, Purwodiningratan, Jebres, Kota Surakarta
        </p>
        <div class="sosmed">
          <ul>
            <li>
              <a
                href="https://www.instagram.com/klinikakuntansipajak?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==">
                <img src="{% static 'white-ig.png' %}" alt="" />
                <span>@klinikakuntansipajak</span>
              </a>
            </li>
            <li>
              <a
                href="https://www.instagram.com/klinikakuntansipajak?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==">
                <img src="{% static 'wa-white.png' %}" alt="" />
                <span>+62 822-1114-5400</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
    <div class="copy">
      <p>Universitas Sebelas Maret</p>
    </div>
  </body>
</html>
